<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="about-us.component.css">
    <link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <title>About Us</title>
</head>

<body>
<form id="about">
    <div class="container" >
        <p class="para1">About Us</p>
        <div id="about-section">
         <h1 class="para2">Bug tracking system? </h1>
         <p class='para3'>A bug tracking system is software that keeps track of bugs that the user encountered in any software development or in any project.</p>
        <p class="para4">The three main functionalities of the Bug Tracking system is:<br>

            1.Creating a new text file and writing the details entered by the user into the text file.<br>
            2.Option to change the status of the bug.<br>
            3.Report of specific bug file.</p>
        </div>
        </div>

        </form>






    </body>
    </html>
