<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="get-bug.component.css">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<title>Search Bug</title>

</head>

<body>


  <div id="background"  class="jumbotron" style="padding-top: 24px">
    <p class="para1"  style="padding-left: 24px">Get Bug</p>


    <form id="getBug">
      <div class="center" id="box">
        <table class="table">
          <tr>
            <td>BugName:<span style="color:red">*</span></td>
            <td><input id="bugName" placeholder="" [(ngModel)]='bug.name' name="name" required></td>
            <td>	<button class="button" (click)='getBug(bug.name)'>Search</button></td>
          </tr>
          <tr>
            <td>BugStatus:<span style="color:red">*</span></td>
            <td><input id="Status" placeholder="" [(ngModel)]='bug.status' name="status" required></td>
            <td><button class="button" (click)='getBugbyStatus(bug.status)'>Search</button></td>
          </tr>
				</table>


      </div>



      <br> <br>
      <div class="table-responsive">

        <table class=" table table-bordered "
				style="border: 2px solid #000000; margin-top: 50px">
				<thead style="background-color:grey; color:white">
					<td scope="col" style="border: 2px solid #000000;">Name</td>
					<td scope="col" style="border: 2px solid #000000;">Status </td>
					<td scope="col" style="border: 2px solid #000000;">Priority</td>
					<td scope="col" style="border: 2px solid #000000;">Type</td>
					<td scope="col" style="border: 2px solid #000000;">BuildVersion</td>
					<td scope="col" style="border: 2px solid #000000;">Synopsis</td>
					<td scope="col" style="border: 2px solid #000000;">Severity</td>
					<td scope="col" style="border: 2px solid #000000;">ProjectId</td>
					<td scope="col" style="border: 2px solid #000000;">Module</td>
					<td scope="col" style="border: 2px solid #000000;">Product</td>
					<td scope="col" style="border: 2px solid #000000;">Estimated Date</td>
				</thead>
        <tbody id='bugsTable' style="border: 2px solid #000000;width:auto">

          <tr *ngFor='let bug1 of bugArray; index as i'>
              <td><a [href]='bug1.name'>{{bug1.name}}</a></td>
              <td >{{bug1.status}}</td>
              <td>{{bug1.priority}}</td>
              <td>{{bug1.type}}</td>
              <td>{{bug1.buildVersion}}</td>
              <td>{{bug1.synopsis}}</td>
              <td>{{bug1.severity}}</td>
              <td>{{bug1.projectId}}</td>
              <td>{{bug1.module}}</td>
              <td>{{bug1.product}}</td>
              <td>{{bug1.eta |date:'M/d/yy'}}</td>


            </tr>

          </tbody>
        </table>
      </div>
      <br> <br>
		</form>
  </div>
		<br>
		<div>

	</div>

</body>


