

.button
{

  border-radius: 10px;
  background-color: darkorange;
  color: black;
  margin-left: 20px;
  width: auto;
  padding: 8px;
}
button:hover {
background-color: #09e639;
}

#background
{
  background-color: cornsilk;
  width: auto;
  height: 465px;
}
.para1
{
  font-size: 30px;

  color : darkorange;
  font-family: Arial, Helvetica, sans-serif;

}

#bugName,#Status{
  margin-left: 20px;
}
.table table-bordered{
  border:1px solid black;
}
.table td{
  border:1px solid black;
}
