<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="home.component.css">
    <link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <title>Bug tracking System</title>
</head>

<body>

<form id="indexbody" >
	<div class="container" >
            <div class="row">
                <div class="col-sm-6">
                    <br>
                    <p class="big-text">Bug Tracking System</p>
                    <p class="small-text">Process of logging and monitoring bugs or errors during software testing</p>
                </div>
                <div class="col-sm-6">
                    <a routerLink="/create" routerLinkActive="active" class="btn btn-first" >Create Bug</a>
                    <a routerLink="/get" routerLinkActive="active" class="btn btn-second" > Search Bug</a>
                    <a class="btn btn-thired" href="updateBug.html">Update Bug</a>
                    <br>
                    <br>
                    <img class="img-responsive" src="assets/img/indeximg.jpg" width="350" height="400">

                </div>
            </div>
            </div>

           <br>
           </form>

</body>

</html>
